<!-- <ion-header>
    <ion-toolbar color="light">
        <ion-title>
            Facebook Login
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <button ion-button full (click)="loginWithFB()">Login!</button>

    <ion-card *ngIf="userData">
        <ion-card-header>{{ userData.username }}</ion-card-header>
        <img [src]="userData.picture" />
        <ion-card-content>
            <p>Email: {{ userData.email }}</p>
            <p>First Name: {{ userData.first_name }}</p>
        </ion-card-content>
    </ion-card>

</ion-content> -->

<p class="h1 mt-5 text-white text-center">Not Working</p>